@import url('style.css');

main{
    /* justify-content: space-evenly; */
}


.loginText{
    margin: 0 0 1.5rem 0;
}


.loginDiv form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--red-vibrant);
    padding: 1.4rem;
}

.loginDiv input{
    border: none;
    outline: none;
    background-color: var(--red-vibrant);
    border-bottom: var(--black) solid 2px;
    margin: 1.5rem 0;
    font-size: 1.2rem;
}

.loginDiv input::placeholder{
    color: var(--black);
    font-family: var(--font-normal);
}