*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-heading:'Righteous', cursive;
    --font-normal:'Montserrat', sans-serif;
    --black:#2b2024;
    --black-faded:#353233;
    --red-dull:#a80038;
    --red-vibrant:#fd0054;
    --white:#fbf9fa;
}

body{
    font-family: var(--font-normal);
    background-color: var(--white);
    overflow: hidden;
}

nav{
    background-color: var(--black);
    height: 8.5vh;
    padding: 1.6rem;
    font-family: var(--font-heading);
    color: var(--red-vibrant);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
nav h1{
    margin: 0.5rem;
}

main{
    background-color: var(--red-dull);
    height: 91.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 1rem 1rem;
    padding: 0.9rem;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red-vibrant);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

  .heading h3{
      color: var(--white);
      font-family: var(--font-heading);
  }

.btnDiv{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    display: inline-block;
    /* border-radius: 4px;  */
    background-color: var(--black);
    border: none;
    color: var(--white);
    text-align: center;
    /* font-size: 28px; */
    padding: 20px;
    /* width: 300px; */
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}

button:hover{
    color: var(--red-vibrant);
    background-color: var(--black-faded);
}